.container {
}

.card {
  background-color: rgba(0, 255, 170, 0.6);
  border-radius: 9px;
  margin: 5px;
  box-shadow: 0 1px 4px rgba(255, 255, 255, 0.3),
    -4px 0 8px -4px rgba(255, 255, 255, 0.8),
    4px 0 8px -4px rgba(255, 255, 255, 0.8),
    inset 0 0 20px rgba(255, 255, 255, 0.1), 0 3px 8px rgba(0, 255, 170, 0.6);
  border: none;
  font-size: 1.4em;
  transition: all 0.3s ease-in-out;
  width: 100%;
  height: auto;
}

.card:hover {
  background-color: rgba(0, 255, 170, 0.7);
  box-shadow: 0 1px 4px rgba(255, 255, 255, 0.3),
    -4px 0 8px -4px rgba(255, 255, 255, 0.8),
    4px 0 8px -4px rgba(255, 255, 255, 0.8),
    inset 0 0 20px rgba(255, 255, 255, 0.1), 0 3px 8px rgba(0, 255, 170, 0.6);
}

.divButton {
  display: flex;
  justify-content: space-between;
}

.button {
  margin: 2px 2px;
  padding: 1px;
  font-size: 0.9em;
  height: 30px;
  width: 30px;
  border: none;
  background: none;
  cursor: pointer;
  border-radius: 8px;
  font-weight: 500;
  transition: background-color 0.5s;
}

button:hover {
  background-color: rgb(231, 15, 15);
  color: #f7f7f7;
}

.buttonWhite {
  background: none;
  border: none;
  font-size: 1.4rem;
  margin: 0px 1px;
  padding: 1px;
}

.buttonWhite:hover {
  background: none;
  cursor: pointer;
  color: red;
}

.buttonRed {
  background: none;
  border: none;
  font-size: 1.4rem;
  margin: 0px 1px;
  padding: 1px;
}

.buttonRed:hover {
  background: none;
  cursor: pointer;
}

.containerTwo {
  display: flex;
  flex-direction: column-reverse;
}

.titleDiv {
  width: auto;
  height: auto;
  position: absolute;
  background-color: #242525;
  opacity: 0.7;
  border-radius: 8px;
  margin: 0.5rem;
}

.image {
  border: solid 1px rgba(0, 255, 170, 0.6);
  border-radius: 5px;
  margin: auto;
  max-width: 100%;
  height: 10em;
  object-fit: cover;
}

.name {
  padding: 1.5px;
  color: white;
  font-family: "Source Sans Pro", sans-serif;
  letter-spacing: 1px;
  font-size: 0.6em;
  margin: 0.5rem;
  text-shadow: 2px 2px 2px #24251f;
}

.data {
  color: #252525;
  font-size: 0.6em;
  padding: 5px;
  margin: 5px;
  text-shadow: 1px 1px #24251f;
}

.text {
  font-weight: 600;
  font-family: "Source Sans Pro", sans-serif;
}

.ulData {
  display: flex;
  flex-direction: column;
  margin-left: 1.5em;
  gap: 0.3em;
  flex-wrap: wrap;
}

.NavLink {
  text-decoration: none;
}

@media (max-width: 391px) {
}
@media (min-width: 391px) and (max-width: 768px) {
  /* Estilos para pantallas con ancho máximo de 768px */
}

@media (min-width: 768px) and (max-width: 992px) {
  /* Estilos para pantallas con ancho entre 768px y 992px */
}

@media (min-width: 992px) {
  /* Estilos para pantallas con ancho mínimo de 992px */
}
