.container {
  display: flex;
  justify-content: space-evenly;
  gap: 1em;
  align-items: center;
  background-color: #f9d71c;
  height: 5.2em;
  margin-top: 2rem;
  margin-left: 5em;
  margin-right: 5em;
  border-radius: 4.5em;
  /* box-shadow: 1px 1px 3px #0d23459c; */
  border-bottom: 1px solid #f9d81ca1;
  font-size: 1.3rem;
  flex-wrap: wrap;
  opacity: 0.85;
  box-shadow: 0 1px 4px rgba(255, 255, 255, 0.3),
    -23px 0 20px -23px rgba(255, 255, 255, 0.8),
    23px 0 20px -23px rgba(255, 255, 255, 0.8),
    inset 0 0 40px rgba(255, 255, 255, 0.1), 0 3px 8px rgba(255, 215, 0, 0.6);
}
.logoContainer {
  display: flex;
  align-items: center;
}
.logo {
  max-width: 100%;
  height: 4em; /* o cualquier altura que desees */
  object-fit: cover;
}

.linksOne {
  display: flex;
  flex-wrap: wrap;
  margin-left: 3.5rem;
  align-items: center;
}

.NavLink {
  /* font-family: Arial, Helvetica, sans-serif; */
  margin: 2rem;
  text-decoration: none;
  font-weight: bold;
  color: #252525;
  text-shadow: 1px 1px 3px #00ffaa;
  font-size: 1.7rem;
  transition: all 0.4s;
}

.NavLink:hover {
  color: #00ffaa;
  text-shadow: 2px 2px 6px #252525c9;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.linksTwo {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1.5rem;
  flex-wrap: wrap;
}

.divButon {
  display: flex;
  align-items: center;
  gap: 1em;
}

.button {
  background-color: rgba(0, 255, 170, 0.3);
  color: #252;
  border: none;
  border-radius: 9px;
  padding: 10px 15px;
  font-size: 0.9rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.button:hover {
  background-color: #aed581;
  color: #333;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6), inset 0 0 0 3px #aed581;
  transform: translateY(-2px);
}

@media (max-width: 391px) {
  .container {
    display: flex;
    align-items: center;
    /* justify-content: center; */
    gap: 4px;
    margin: 5px;
    border-radius: 3px;
    position: sticky;
    top: 0;
    z-index: 10;
  }

  .linksOne {
    display: flex;
    align-items: center;
    gap: 0.6rem;
    margin-left: 0.3rem;
  }

  .NavLink {
    margin: 3px;
    font-size: 1rem;
  }

  .divButon {
    position: absolute;
    right: 0;
    top: 0;
    margin-top: 3px;
    margin-right: 3px;
    /* font-size: 0.6rem; */
  }

  .button {
    font-size: 12px;
    width: 2.5rem;
    height: 2.5rem;
  }
}

@media (min-width: 391px) and (max-width: 768px) {
  /* Estilos para pantallas con ancho máximo de 768px */
  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 14px;
    margin: 5px;
    border-radius: 3px;
    position: sticky;
    top: 0;
    z-index: 10;
  }

  .linksOne {
    display: flex;
    align-items: center;
    gap: 0.6rem;
    margin-left: 0.3rem;
  }

  .NavLink {
    margin: 3px;
    font-size: 1rem;
  }

  .divButon {
    position: absolute;
    right: 0;
    top: 0;
    margin: 3px;
    margin-top: 3px;
    margin-right: 3px;
    /* font-size: 0.6rem; */
  }

  .button {
    font-size: 12px;
    width: 2.5rem;
    height: 2.5rem;
    margin: 3px;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  /* Estilos para pantallas con ancho entre 768px y 992px */
  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    /* flex-direction: column; */
    flex-wrap: wrap;
    gap: 2px;
    margin: 1px;
    border-radius: 3px;
    position: sticky;
    top: 0;
    z-index: 10;
  }
  .linksOne {
    display: flex;
    align-items: center;
    gap: 0.6rem;
    margin-left: 0.3rem;
  }

  .NavLink {
    margin: 3px;
    font-size: 1rem;
  }

  .divButon {
    position: absolute;
    right: 0;
    top: 0;
    margin: 3px;
    margin-top: 3px;
    margin-right: 3px;
    /* font-size: 0.6rem; */
  }

  .button {
    font-size: 12px;
    width: 2.5rem;
    height: 2.5rem;
    margin: 3px;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  /* Estilos para pantallas con ancho mínimo de 992px */

  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    /* flex-direction: column; */
    flex-wrap: wrap;
    gap: 2px;
    margin: 1px;
    /* border-radius: 3px; */
    position: sticky;
    top: 0;
    z-index: 10;
  }
}
