.container {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 1.1em;
  width: 100%;
  z-index: 1;
}
.p {
  height: 1em;
  color: #800080;
  font-family: "Roboto Mono", monospace;
  font-weight: 600;
  border-radius: 100px;
  padding: 0.2em 0.7em 0.5em 0.7em;
  margin: 1em;
  border: solid 1px #d4b71a;
  background-color: rgba(212, 183, 26, 0.7);
  position: absolute;
  transition: color 0.3s;
}
.p:hover {
  color: #64ffda;
}

.Navlink {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 391px) {
  .container {
    font-size: 0.7em;
  }
}
@media (min-width: 391px) and (max-width: 768px) {
  /* Estilos para pantallas con ancho máximo de 768px */
}

@media (min-width: 768px) and (max-width: 992px) {
  /* Estilos para pantallas con ancho entre 768px y 992px */
}

@media (min-width: 992px) {
  /* Estilos para pantallas con ancho mínimo de 992px */
}
