.container {
    display: flex;
    gap: 6rem;
    justify-content: center;
    flex-wrap: wrap;
}

.info {
    color: white;
}

.text {
    text-shadow: 1px 1px 1px #252525;
    line-height: 3.5rem;
    font-style: italic;
}

.image {
    border: 1px solid #252525;
    border-radius: 9px;
}

.button {
    font-size: 15px;
    width: 5rem;
    height: 1.9rem;
    border-width: 1px;
    color: #c92200;
    border-color: #e65f44;
    font-weight: bold;
    border-radius: 9px;
    box-shadow: inset 0px 1px 0px 0px #f9eca0;
    text-shadow: inset 0px 1px 0px #ded17c;
    background: linear-gradient(#f0c911, #f2ab1e);
    cursor: pointer;
}

.buttonClass:hover {
    background: linear-gradient(#f2ab1e, #f0c911);
    cursor: pointer;
}