.about {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
}

.container {
    border-radius: 7px;
    margin: 0.5rem;
    padding: 10px;
    display: flex;
    gap: 6rem;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #572F0B;
    background-image: url("../../assets/cover-image\ \(7\).png");
}

.divImage {
    display: flex;
    align-items: center;
    background: none;
    padding: 5px;
}

.image {
    width: 14rem;
    border: 1px solid orange;
    border-radius: 10px;
    /* box-shadow: 1px 1px 1px #572F0B; */
    background: none;


}

.text {
    color: #252525;
    text-shadow: 1px 1px 1px #252525;
    line-height: 2rem;
    font-style: italic;
    font-weight: 900;
    padding: 15px;
}

.h1 {
    margin-bottom: 10px;
}