.container {}

.card {
    background-color: #B5D43B;
    border-radius: 13px;
    margin: 5px;
    box-shadow: 0px 0px 6px #d9ef82;
    border: solid 1px #434738;
    font-size: 1.2em;
    flex: 1;
    transition: .3s;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.card:hover {
    background-color: #b5d43bd8;
    flex: 3;
}

.divButton {
    margin-left: 85%
}

.button {
    margin: 5px 1px;
    padding: 1px;
    font-size: 0.9em;
    height: 30px;
    width: 30px;
    border: none;
    background: none;
    cursor: pointer;
    border-radius: 8px;
    font-weight: 500;
}

button:hover {
    background-color: rgb(231, 15, 15);
    color: #f7f7f7;
}

.img img {
    height: 12em;

}

.name {
    padding: 5px 10px 10px 10px;
    font-weight: 900;
    border-radius: 9px;
    color: #434738;
    font-weight: 700;
    font-size: 1.2em;
}

.data {
    /* display: flex; */
    /* justify-content: space-around; */
    /* flex-direction: row; */
    /* gap: 25px; */
    /* color: #434738; */
    font-weight: 600;
    color: #24251f;
    font-size: 0.8em;
    padding: 5px;
    margin: 5px;
}

.ulData {
    display: flex;
    justify-content: space-evenly;
    gap: 3em;
    flex-wrap: wrap;
}