.container {}

.card {
    background-color: #F9B626;
    border-radius: 13px;
    margin: 5px;
    box-shadow: 0px 0px 6px #5b1716df;
    border: solid 2px #5b1716df;
    font-size: 1.2em;
    /* display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; */
}

.card:hover {
    background-color: #F9B626;
    box-shadow: 0px 0px 6px #5b1716df;
    opacity: 0.9;
}

.divButton {
    display: flex;
    justify-content: flex-end;
}

.button {
    margin: 2px 2px;
    padding: 1px;
    font-size: 0.9em;
    height: 30px;
    width: 30px;
    border: none;
    background: none;
    cursor: pointer;
    border-radius: 8px;
    font-weight: 500;
}

button:hover {
    background-color: rgb(231, 15, 15);
    color: #f7f7f7;
}

.img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.img img {
    width: 9em;
    border-radius: 8px;
}

.name {
    padding: 5px 10px 10px 10px;
    font-weight: 900;
    border-radius: 9px;
    color: #434738;
    font-weight: 700;
    font-size: 1.2em;
    display: flex;
    justify-content: center;
}

.data {
    /* display: flex; */
    /* justify-content: space-around; */
    /* flex-direction: row; */
    /* gap: 25px; */
    /* color: #434738; */
    font-weight: 600;
    color: #24251f;
    font-size: 0.8em;
    padding: 5px;
    margin: 5px;
}

.ulData {
    display: flex;
    flex-direction: column;
    margin-left: 1.5em;
    /* justify-content: space-evenly; */
    gap: 0.3em;
    flex-wrap: wrap;
}