.searchbar {
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    /* height: 6.5em; */
    /* background-color: #0b296a; */
    /* margin-bottom: 0.2em; */
    /* margin-right: 4em; */

}

.container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 100px;
    border: solid 2.5px #663302;
    /* background-color: #0b296a; */
    height: 2.8em;
    width: 17em;
    font-size: 1.2rem;
}

.container:hover {
    background-color: #DB6800;
    border: solid 2.5px #663302;
    box-shadow: 0px 0px 3px #663302;
}

.button {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border: none;
    cursor: pointer;
}

.img {
    width: 22px;
    height: 22px;
    background-color: #DB6800;

}

.input {
    /* width: 12em; */
    /* height: 2em; */
    background-color: #DB6800;
    outline: none;
    font-size: 0.9em;
    border: none;
    font-weight: 500;
    padding: 9px 20px;
}

.input:hover {
    background-color: #DB6800;
    box-shadow: 0px 0px 4px #DB6800;
}

.input:focus {
    background-color: #DB6800;
    box-shadow: 0px 0px 4px #DB6800;
}


.input[type="namber"] {
    color: #b20000
}

.input::placeholder {
    color: #b20000;
    font-size: 1.2rem;
}