.Cards {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 1.5em;
  flex-wrap: wrap;
  height: 100vh;
  width: 100%;
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.welcomeContainer {
  background-color: rgba(0, 255, 170, 0.8);
  border-radius: 80px;
  padding: 10px;
  position: relative;
  padding: 10px 20px;
  width: fit-content;
  max-width: 70%;
  margin: 10px 0;
  text-align: left;
  font-size: 16px;
}

.contentWelcome {
  text-align: center;
  color: #000000;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.5;
  margin-bottom: 0;
  font-family: "Roboto Mono", monospace;
}
