.container {
    background-color: #0b296a;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 7em;
    margin: 2em;
    border-radius: 4.5em;
    box-shadow: 0px 0px 10px #0b296a9d;
}